
<div class="swade-core">
  <h1>Welcome to...<br><cite>Savage Worlds Adventure Edition<br>for the Eberron Campaign Setting</cite></h1>
  <div style="display:flex">
    <div style="flex:1"></div>
    <img src='modules/savage-eberron-rules/assets/SWADE_Logo.png' style='width: 64px; flex:1; border:none;'>
    <img src='modules/savage-eberron-rules/assets/EBERRON_Logo.png' style='width: 64px; flex:2; border:none;'>
    <div style="flex:1"></div>
  </div>
  <p>To get started, please visit the "Compendium Packs" directory in Foundry, where you'll find the additional rules <cite>Savage Worlds</cite> as it relates to the <cite>Eberron Campaign Setting</cite>, along with compendiums for Powers, Edges, Hindrances, Equipment, Vehicles, and the Bestiary.</p>

  <h3>Rules</h3>
  <p>The <cite>Savage Worlds</cite> rules are organized into the same chapters as the printed book. If you know the title of the article you're looking for, use the search at the top of the compendium view so you don't have to dig through multiple folders.</p>

  <p>The rules have deep entity linking, which means that by clicking on the red, underlined text in each article you will be shown more detailed information about the topic you chose. Some of these are subheadings inside a longer entry, so you may need to scroll down and read through the article to find what you're looking for.</p>

  <h3>Item Compendiums</h3>
  <p>In order to add Edges, Hindrances, powers, equipment, and skills to an actor, simply drag the item from the compendium onto the actor's opened sheet.</p>

  <h3>Actor Compendiums</h3>
  <p>There are two actor compendiums: Bestiary and Vehicles. Drag entries from these into your actors directory to use them in your world.</p>

  <h3>Rollable Tables</h3>
  <p><cite>Savage Worlds</cite> features a number of rollable tables. Simply open any of the tables and click "Roll" and the results will show up in the chat log.</p>
  <p>The Fear table works differently, as it requires a modifier before a result can be determined. Use the Fear macro in the macro compendium which will prompt you to enter the modifier, and then roll on the table. The result will be shown in the Chat Log.</p>

  <h3>Macros</h3>
  <p>Here's a list of the Macros and what they do:</p>
  <ul>
    <li><b>Fear Table</b>: Asks for a modifier before rolling on the Fear Table.</li>
    <li><b>Patch All Actors</b>: This will update the items (Edges, Hindrances, powers, skills, equipment) on all the actors in your world with any of them matching the same name from the official compendiums. It is <b>HIGHLY</b> recommended that you make a backup before running this macro, as it does permanently overwrite your actor data.</li>
  </ul>

  <h3>Required Modules</h3>
  <p><b>Compendium Folders</b></p>
  <p>This module is installed as a dependency, as it's used to organize the <cite>Savage Worlds</cite> compendium packs in folders until Foundry adds this feature in its core functionality.</p>
  <h3>Recommended Modules</h3>
  <p><b>PopOut!</b></p>
  <p>This module is not required, but your players may enjoy the ability to pop out journal entries for rules into a separate window. Another bonus is that you can use CTRL+F to search for text within the popped-out window, which is not possible in the Foundry view.</p>
  <p><b>Dice So Nice!</b></p>
  <p>This module enables 3D dice, and more importantly, 3D <i>Bennies</i>. Try it out!</p>
  <hr>
  <div style="display:flex">
    <p style="flex:4">Don't show this message again until the next update:</p>
    <input style="flex:1" type='checkbox' id='hide-tooltip' unchecked>
  </div>
</div>
